<div class="page-content">
  <div class="title-of-reminder-form">
    <h1>Add your first reminder.</h1>
  </div>

  <div class="reminder-form-container">
    <form (submit)="onSubmit()">
      <div class="mb-3">
        <label for="reminder-title" class="form-label">Title</label>
        <input class="form-control" id="reminder-title" [(ngModel)]="reminder.title">
        <div id="title-help" class="form-text">What do you want to be reminded about?</div>
      </div>
      <div class="mb-3">
        <label for="reminder-description" class="form-label">Description</label>
        <textarea class="form-control" id="reminder-description" [(ngModel)]="reminder.content" rows="5"
          style="height: 70px; width: 500px;"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">+</button>
    </form>
  </div>
</div>
